// mixin

@mixin pc {
    @media screen and (min-width:960px){
        @content;
    }       
}

@mixin tab {
    @media screen and (max-width:959px){
        @content;
    }       
}

@mixin sp {
    @media screen and (max-width:375px){
        @content;
    }       
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.67;
    
}

.title {
    font-size: 1.8rem;
    color: gray;
    @include tab{
        padding-bottom: 5vh;
    }
    
    
 &:after {
        display:inline-block;
        content: "";
        border-top: 1px solid;
        width: 9.5rem;
        margin-left: 2rem;
        margin-bottom: 0.6rem;
 }
}

.inner {
    width: 100% - 8.3 * 2;
    margin: 0 auto;
    padding-top: 24rem;
    @include tab {
        padding-top: 5vh;
    }
}