.concept {
    box-sizing: border-box;
    width: 100%;
    height: 130vh;
    background: linear-gradient(180deg,#A193861F 0%,#A193861F 39%,#A1938689 39%,#A1938689 100%);
    @include tab {
        background: linear-gradient(180deg,#A193861F 0%,#A193861F 20%,#A1938689 20%,#A1938689 100%);
        height: 110vh;
    }
}




.concept-img {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    .img-2 {
        width: 50%;
        height: 50vh;
        @include tab {
            width: 49%;
            height: 205px;
        }
    }
    .img-3 {
        width: 50%;
        height: 50vh;
        @include tab {
            width: 49%;
            height: 205px;
        }
    }
}

.c-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 3vh 8.11vw 0;
    align-items: center;
    color: #fff;
    height: 240px;
    @include tab {
        flex-direction: column;
        text-align: center;
        margin: 8vh 0;
        height: 40vh;
    }
    .c-text-1 {
        font-size: 3.8rem;
        font-family: serif;
        letter-spacing: 1.6rem;
        height: fit-content;
        // width: 427px;
        @include tab {
            font-size: 20px;
            width: 300px;
            height: fit-content;
        }
    }
    .c-text-2 {
        font-size: 1.6rem;
        height: fit-content;
        font-family: serif;
        // width: 50vh;
        @include tab {
            font-size: 16px;
            width: 333px;
            height: fit-content;
            letter-spacing: 1.6px;
        }
    }
}
   




 
